.anaDiv {
    width: 80%;
    background-color: aliceblue;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 50px;
}

.Baslik1 {
    background-color: antiquewhite;
    padding: 25px;
    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
}

    .Baslik1 h4 {
        text-align: center;
    }

.Baslik2 {
    background-color: aqua;
    padding: 35px;
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

.Baslik3 {
    background-color: blueviolet;
    padding: 25px;
    color: chocolate;
    font-family: 'Gill Sans', Calibri, sans-serif;
}

/* RESPONSIVE - Büyük ekran */
@media (max-width: 1200px) {
    .responsibility1 {
        float: left;
        width: 35%;
        background-color: brown;
    }

    .responsibility2 {
        float: right;
        width: 35%;
    }

    .responsibility3 {
        float: right;
        width: 30%;
    }
}

/* RESPONSIVE - Tablet */
@media (max-width: 768px) {
    .responsibility1 {
        float: left;
        width: 25%;
        background-color: yellow;
    }

    .responsibility2 {
        float: right;
        width: 35%;
    }

    .responsibility3 {
        float: right;
        width: 30%;
    }
}

/* RESPONSIVE - Mobil */
@media (max-width: 350px) {
    .responsibility1 {
        float: left;
        width: 20%;
        background-color: aqua;
    }

    .responsibility2 {
        float: right;
        width: 35%;
    }

    .responsibility3 {
        float: right;
        width: 45%;
    }
}
